 <div class="container">
    <div id="header">
   <div>
    <img src="https://ca.slack-edge.com/T01L862FMT3-U02B02P8KPD-2937d65f33e6-512" id="image">
   </div>
   <div>
    <h2 id="name">Ukagha Promise</h2>
    <p id="underline"></p>
    <h5 id="web">Backend Engineer</h5>
    <img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAALQAAAC0CAMAAAAKE/YAAAAAUVBMVEX///8AAADnMytgYGCAgIDf399AQEC/v78gICCfn5/v7++vr6/pQDgwMDBQUFAQEBDzmZXqTEWPj4/+8vL2srD0pqLsWVNvb2/wf3v85uXPz89b/NAUAAACL0lEQVR4nO3Y6XaCMBCGYUR2BRV37/9CS4EgQsCknVjteZ9/sgwfSmY4eh4AAAAAAAAAAAAAAAAAAAAAAAAAfJpwgvyV4jSWKpUs9MQu0Aq/L5QIfRevCt1cJ5Es5jx0LFr2RaHTtmwqUu0/fdNSS6YT1WVz4aq1TN3DSrpyWFRVo0y67LdlmzlwUDuMHTR/775chDrTS4Tq4XDzlbgRtZnL0Z4wqHWfV/XHYf+Ku61ZWSSPy6I5Q3ypeEGbeTne1Xas7nPz7EfaAtXWYDNqycup0r8TznQ7q9BZrpkjjkKrB1o3tKxC57o6bkKrh+Os22kTWnlBaDVn9d3uPUM/6XbvGfrJKLQMHaXVvT+ObAeh1SgsJvbbhdbduXxo9XBMvttZhR5u7p0hGVqNwslXdKvQ2nfmmdD77c73T5erXebZbmcdeqOtMB36sPZr66NN5m4UTh9iOcZtQh/9zsEitMG73TB0IRb6ur6HXu+NM59n1vwgdHdbiVjoi9+zNc28Wsys+UFotcRu+lN+EvrUD70zzPy02zVHPf4YhVxo/4FhaDUK5/+QyJqDNs2dqQfqr0KrUTgyuAn1ewRxXKquLhJ61898MgsdjONqQ2uPkwi97Ye+yIbONo5C7/stz3Aomob2yv7OJBIL7R3uoU1HonHo/pF5KDgRvaMa48YD0Ty0d2sXYF6KjvFqKF6qZr3bmo9DK1mcpukn/ZEDAAAAAAAAAAAAAAAAAAAAAABg5wtB6BDSu2g4ogAAAABJRU5ErkJggg=="  class="hnglogo">
   </div>
  </div>
  <div class="row">
   <div class="col-md-12">
    <h4 id="exp">EXPERIENCE  <span style="margin-left: 900px;"><a href="/message" style="text-decoration: none;"><i class="fas fa-bell" style="font-size: 30px;"></i></a></span> </h4>
   
    <div id="experience">
     <div id="exp1">
      <div>
        <i class="fas fa-square" style="margin-left: 50px; font-size: large;"></i>
      </div>
      <div>
       
       <span id="head">Junior Backend Engineer</span>
       <p>2012-2015</p>
      </div>
      <div>
       <h4 id="ent" style="font-weight: bold;">Hng Internship</h4>
       <p >Hng Internship is fast paced company, where people who are serious about career growth are found. I really enjoyed working with this exceptional set of people.
        <a href="https://zuri.team" target="_blank">Visit hngInternship today</a>
       </p>
      </div>
     </div> 
     <div id="exp1">
      <div>
        <i class="fas fa-square" style="margin-left: 50px; font-size: large;"></i>
      </div>
      <div>
       <span id="head">Intermediate Backend Engineer</span>
       <p>2015-2019</p>
      </div>
      <div>
       <h4 id="ent" style="font-weight: bold;">Flutter Wave</h4>
       
       <p >Flutter is a hub of the best brains in the industry, My time there was worth it. I have scaled my career to another level.</p>
      </div>
     </div> 
     <div id="exp1">
      <div>
        <i class="fas fa-square" style="margin-left: 50px; font-size: large;"></i>
      </div>
      <div>
       <span id="head">Principal Engineer</span>
       <p>Current</p>
      </div>
      <div>
       <h4 id="ent" style="font-weight: bold;">Microsoft</h4>
       <p > I am currently working with a team on virtual reality, and try to solve the world's problems</p>
      </div>
     </div> 
    </div>
   </div>
  </div> 
  <div class="row">
   <div class="col-md-12">
    <h4 id="exp">EDUCATION</h4>
    <div id="experience">
     <div id="exp1">
      <div>
        <i class="fas fa-square" style="margin-left: 50px; font-size: large;"></i>
      </div>
      <div>
       <span id="head">Computer Science</span>
       <p>2015-2019</p>
      </div>
      <div>
       <h4 id="ent" style="font-weight: bold;">University of Lagos </h4>
        <p>I schooled in the great University of Lagos. I am who I am today because of the vigorous teaching.</p>
        </div>
     </div> 
     <div id="exp1">
      <div>
        <i class="fas fa-square" style="margin-left: 50px; font-size: large;"></i>
      </div>
      <div>
       <span id="head">CyberSecurity</span>
       <p>Current</p>
      </div>
      <div>
       <h4 id="ent" style="font-weight: bold;">MIT</h4>
       <p > I am current a post graduate degree in MIT, so i can futher my career on CyberSecurity and help secure the web. </p>
      </div>
     </div> 
    </div>
   </div>
  </div> 

  <div class="row">
    <div class="col-md-5">
     <h4 id="contacts">CONTACTS</h4>
     <div class="topM">
         <i class="fas fa-phone" style="margin-left: 50px; font-size: large;"></i>
       <span id="space"><a href="#" style="color: black;">0333-4543212</a></span>
     </div>
     <div class="topM">
         <i class="fas fa-envelope" style="margin-left: 50px; font-size: large;"></i>
    <button type="button" class="btn btn-primary" style="background-color: #CDCDCF;  font-weight: bolder; margin-left: 20px; font-size:larger;">
        <a href="/dashboard">REACHOUT</a>
    </button>
     </div>
    </div>
    <div class="col-md-7">
     <h4 id="skills">SKILLS</h4>
     <div class="skills">
      <div>
       <div id="ui">
        <p >Node.js</p>
           <div id="progress-bar">
            <div id="progress"></div>
           </div>
       </div>
       <div id="ui">
        <p >Express</p>
           <div id="progress-bar">
            <div id="progress"></div>
           </div>
       </div>
       
      
      </div>
      <div>
       <div id="ui">
        <p style="margin-right: 5px;">Mongo.db </p>
           <div id="progress-bar">
            <div id="progress"></div>
           </div>
       </div>
       <div id="ui">
        <p>React</p>
           <div id="progress-bar">
            <div id="progress"></div>
           </div>
       </div>
      </div>
     </div>
        </div>   
 </div>


 <footer>
    <hr>
    <p>2021 Copyright. All rights Reserved</p>
  </footer>
</div> 